*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    margin: auto;
    color: #ffffff; 
    font-family: "Montserrat", serif;
    background: linear-gradient(rgb(62, 64, 68), rgb(40, 41, 47));
    display: block;
    max-width: 1196px;
    width: 90%;
    
}
h1, h2, h3{
    color: rgb(137, 255, 253);
}
h1{
    font-size: 161px;
    font-weight:800;
}
h2{
    font-size: 41px;
    font-weight: 400 px;
}
.h3{
    font-weight:500 px;
}
p{
    color: rgb(255, 255, 255); 
    font-size: 24px;
}
ul{
    list-style-type: none;
}
/*HEADER*/
header{
    display: flex;
    height: 70px;
    padding: 10px;
    justify-content: space-between;

}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 649px;
    padding: 0;
}
.menu a{
    color: white; 
    text-decoration: none;
}
.enlaces ul{
    display: inline-flex;
    gap: 27px;
}
.logo{
    height: 60px;
    width: 60px;
}
.logo img{
      display: block;
}

/*PREMIER SECTION- j'ai chosir d'etablir l'imagen commen un background. C'etait plus facile de le positione de ça façon pour moi*/
#accueil{
    display: flex;
    flex-direction: row;
    background-image: url(Assets/img-shoe-home.png);
    background-position: right;
    background-repeat: no-repeat;
    max-height: 601px;
}
.content{
    flex-direction: column;
    align-self: flex-end;
    max-height: 427px;
    max-width: 514px;
}
.Member{
    color: #ffffff;
}
.Membership{
    font-weight: lighter;
}
#bt{
    height: 50px;
    width: 172px;
    color:#ffffff;
    border-radius: 6px;
    text-align: center;
    border: none;
    padding: auto;
    background-color: #EF32D9;
    margin-top: 30px;
    font-weight: bold;
}
.choixshoes{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 4px;
    margin-left:300px;

}
.shoes{
    height: 121.29px; 
    width: 121.29px;
    border: #ffffff 1px solid;
    align-content: center;
}
.reseaux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
/*DEUXIEME SECTION -FLEX*/
#meilleursventes{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: stretch;
}
.ligne{
    border: #EF32D9 solid 9px;
    width: 149px;
    margin-top: 60px;
}
.mventestitre, .NcollectionTitre {
    padding-top: 8px;
    margin-bottom: 80px;
}
.nouv-blocs{
    display: flex;
    justify-content: space-between;
}
.prix{
    font-size: 24px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    font-weight: 400;
}
.disponibilite{
    font-size: 18px;
    font-weight: lighter;
}
/*TROISIEME SECTION GRID - J'ai essaie plusieurs atribut et ajustements pour le grid. Mais c'est les atribut et grid-auto-column et rows (neanmois surement il y a des autres methodes plus optimises*/
#Nouvellescollections{
    display:grid;
    justify-content:center;
    grid-auto-columns:min-content 242px;
    grid-auto-rows: max-content;
    grid-template-areas:
    "b1 b2 b3" 
    "b1 b4 b3" 
    "b5 b6 b3";
    justify-items:  flex-end; 
    column-gap: 7px;
}
.box, .imgresponsive{
    position: relative;
}
.imgresponsive{
    display:none;
}
.b1{
    grid-area: b1;

}
.b2{
    grid-area: b2;
}
.b3{
    grid-area: b3;
}
.b4{
    grid-area: b4;
}
.b5{
    grid-area: b5;
    justify-self: flex-start;
}
.b6{
    grid-area: b6;

}
/*BUTON GRID-pour positionne le bouton sur l'imagen j'ai utilise l'atribut position:absolute et à les images j'ai donne le atribut position relative*/
.btnvoir{
    width: 68px;
    height: 38px;
    background-color: #28292F;
    border-radius: 36px;
    color: #ffffff;
    font-weight: bold;
    position: absolute; 
    cursor: pointer;
    bottom: 10px;
    right: 10px;
}
/*FOOTER**/

.lignefooter{
    width: 543px;
    background-color:#EF32D9; 
    height: 9px;
    justify-self: center;
    border: none;
    margin-top: 100px;
    margin-bottom: 43px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:62px;
    margin-bottom: 65px;
}
.copyright{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 37px;
}
.copyright p{
    font-size: 12px;
    padding-top: 3px;
}
.reseauxfooter{
    display: inline-flex;
    gap: 25px;
    padding-top: 3px;
}
/*DESING RESPONSIVE*/
@media (max-width:414px){
    body{
        flex-direction: column;
       width: 100%;
       margin: auto;
    }
    header{
        display: inline-flex;
        max-width: 386px;
        max-height: 117px;
    }
   .menu{
        gap: 156px;
    }
    .enlaces ul{
        display:list-item;
    }
    #accueil{
        flex-direction:column;
        background-size: contain;
        background-position: bottom;
        justify-content: center;
        height: 672px;
    }
    h1{
        font-size: 96px;
        font-weight:800;
    }
    h2{
        font-size: 24px;
        font-weight: 400;
    }
    p{
        font-size: 18px;
    }
    .logo{
        size: 40px 40px;
/*RESPONSIVE: HERO HEADER-FLEX*/
    }
    .content{
        align-self: flex-start;
        text-align: center;
        width: auto;
        height: 332px;
    }
    #bt{align-items: center;

    }
    .choixshoes, .shoes{
        display:none;
    }
    .reseaux{
        display: none;
    }
/*RESPONSIVE: SECTION 2-FLEX*/
    #meilleursventes{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .nouv-blocs{
        justify-content: space-between;
        padding: 3px;
    }
/*RESPONSIVE: SECTION 3-GRID pour la section responsive j'ai truve que telecharge les images en la taille donné pour les responsive etait plus facile. Alors, j'ai caché les div avec les images du grid desktop (display:none) pour montre les images responsive. POur le grid desktop j'ai fait le cotraire: j'ai cache les div où etaient les images resposive (Tout grace à les class et l'option de non affichage, en fait) */ 
    #Nouvellescollections{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .box, .imgresponsive{
        display:flex;
        flex-direction: column;
        width: 394px;
        max-height: 415px;
    }
   .b1, .b3, .b4, .b5, .b6{
        display:none;
    }
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .copyright{
        flex-direction: column;
    }}