*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    margin: auto;
    color: #ffffff; 
    font-family: "Montserrat", serif;
    background: linear-gradient(rgb(62, 64, 68), rgb(40, 41, 47));
    display: block;
    max-width: 1196px;
    
}
h1, h2, h3{
    color: rgb(137, 255, 253);
}
h1{
    font-size: 161px;
    font-weight:800;
}
h2{
    font-size: 41px;
    font-weight: 400;
}
p{
    color: rgb(255, 255, 255); 
    font-size: 24px;
}
ul{
    list-style-type: none;
}
/*HEADER*/
header{
    display: flex;
    height: 70px;
    padding: 10px;
    justify-content: space-between;

}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 649px;
    padding: 0;
}
.menu a{
    color: white; 
    text-decoration: none;
}
.enlaces ul{
    display: inline-flex;
    gap: 27px;
}
.logo{
    height: 60px;
    width: 60px;
}
.logo img{
      display: block;
}

/*PREMIER SECTION*/
#accueil{
 display: flex;
 flex-direction: row;
 background-image: url(Assets/img-shoe-home.png);
 background-position: right;
 background-repeat: no-repeat;
 height: 601px;
}
.content{
    flex-direction: column;
    align-self: flex-end;
    height: 427px;
    width: 514px;
}
.Member{
    color: #ffffff;
}
.Membership{
    font-weight: lighter;
}
#bt{
    height: 50px;
    width: 172px;
    color:#ffffff;
    border-radius: 6px;
    text-align: center;
    border: none;
    padding: auto;
    background-color: #EF32D9;
    margin-top: 30px;
    font-weight: bold;
}
.choixshoes{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 4px;
    margin-left:300px;

}
.shoes{
    height: 121.29px; 
    width: 121.29px;
    border: #ffffff 1px solid;
    align-content: center;
}
.reseaux{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
/*DEUXIEME SECTION -FLEX*/
#meilleursventes{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: stretch;
}
.ligne{
    border: #EF32D9 solid 9px;
    width: 149px;
    margin-top: 60px;
}
.mventestitre, .NcollectionTitre {
    padding-top: 8px;
    margin-bottom: 80px;
}
.nouv-blocs{
    display: flex;
    justify-content: space-between;
}
.description{
    font-size: 18px;
    font-weight: 400;
}
.disponibilite{
    font-size: 18px;
    font-weight: lighter;
}
/*TROISIEME SECTION GRID*/
#Nouvellescollections{
    display:grid;
    grid-template-areas: 
    "b1 b2 b3" 
    "b1 b4 b3" 
    "b5 b6 b3";
    max-width: auto;
}
.box{
    position: relative;
}
.b1{
    grid-area: b1;
}
.b2{
    grid-area: b2;
}
.b3{
    grid-area: b3;
}
.b4{
    grid-area: b4;
}
.b5{
    grid-area: b5;
}
.b6{
    grid-area: b6;

}
/*BUTON GRID*/
.btnvoir{
    width: 68px;
    height: 38px;
    background-color: #28292F;
    border-radius: 36px;
    color: #ffffff;
    font-weight: bold;
    position: absolute; 
    cursor: pointer;
    bottom: 10px;
    right: 10px;
}
/*FOOTER**/

.lignefooter{
    width: 543px;
    background-color:#EF32D9; 
    height: 9px;
    justify-self: center;
    border: none;
    margin-top: 100px;
    margin-bottom: 43px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:62px;
    margin-bottom: 65px;
}
.copyright{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 37px;
}
.copyright p{
    font-size: 12px;
}
.reseauxfooter{
    display: inline-flex;
    gap: 25px;
}
/*DESING RESPONSIVE*/
@media (max-width:414px){
    body{
        flex-direction: column;
       width: 100%;
       margin: auto;
    }
    header{
        display: inline-flex;
        max-width: 386px;
        max-height: 117px;
    }
   .menu{
        gap: 156px;
    }
    .enlaces ul{
        display:list-item;
    }
    #accueil{
        flex-direction:column;
        background-size: contain;
        background-position: bottom;
        justify-content: center;
        height: 672px;
    }
    h1{
        font-size: 96px;
        font-weight:800;
    }
    h2{
        font-size: 24px;
        font-weight: 400;
    }
    p{
        font-size: 18px;
    }
    .logo{
        size: 40px 40px;
    }
    .content{
        align-self: flex-start;
        text-align: center;
        width: auto;
        height: 332px;
    }
    #bt{align-items: center;

    }
    .choixshoes, .shoes{
        display:none;
    }
    .reseaux{
        display: none;
    }
    #meilleursventes{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .nouv-blocs{
        justify-content: space-between;
        padding: 3px;
    }
    #Nouvellescollections{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    .box{
        display:flex;
        flex-direction: column;
        width: 394px;
    }
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   .box, .imgresponsive{
        width: 394px;
        height: 415px;
    }
    .copyright{
        flex-direction: column;
    }
    .b3{
        object-fit: contain;

    }
}